name: Docs

on:
  push:
    branches:
      - main
jobs:
  build-deploy:
    runs-on: ubuntu-latest
    container:
      image: docker.io/bilelmoussaoui/gtk4
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: "recursive"
      - uses: actions-rs/toolchain@v1
        with:
          profile: minimal
          toolchain: stable
          override: true
      - run: cp ./GtkSource-5.gir ./gir-files/
      - run: "./gir/target/release/gir -c ./sourceview5/Gir.toml -d ./gir-files --doc-target-path docs.md -m doc
      - run: cargo install rustdoc-stripper
      - run: rustdoc-stripper -g -o ./sourceview5/docs.md
      - uses: actions-rs/cargo@v1
        with:
          command: doc
          args: --package sourceview5 --package sourceview5-sys --no-deps

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v2
        env:
          PERSONAL_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./target/doc/
